body {
    background-color: #F8F8F8 !important;
}

.column {
    background-color: #F8F8F8 !important;
}

#signin {
    background-color: #EDBD00;
}

::placeholder {
    color: black;
    opacity: 1;
}

.items {
    margin-top: 30px;
    overflow: hidden;
    padding: 0 10px 10px 15px;
}

.card {
    margin-top: 10px;
}

.pagination {
    margin-top: 30px !important;
}

.is-current, .logout {
    background-color: #EDBD00 !important;
    border: none;
    color: #F8F8F8;
}