# Dependencies
schematics==2.1.1
flask==2.0.1
flask-cors==3.0.10
pyjwt==2.1.0
pymongo==3.12.0

# Testing
pytest==6.2.5
behave==1.2.6
mongomock==3.23.0

# Production
Werkzeug==2.0.1

# Dev tools
black==21.9b0
coverage==5.5.0
