# Dependencies
schematics==2.1.1
sanic==21.9.1
sanic-cors==1.0.1
pyjwt==2.1.0
pymongo==3.12.0

# Testing
pytest==6.2.5
behave==1.2.6
sanic-testing==0.7.0
mongomock==3.23.0

# Dev tools
black==21.9b0
coverage==5.5.0
